.DeleteOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.DeleteOverlay-Box {
    width: 30%;
    height: 15%;
    margin: auto;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.DeleteOverlay-Button-Group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
}

.DeleteOverlay-Delete-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.75rem;
    background-color: #cb4c4e;
    color: white;
    margin-right: 3rem;
}

.DeleteOverlay-Cancel-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.75rem;
    background-color: black;
    color: white;
}

.Delete-Button-Icon {
    margin-right: 1rem;
    width: 12px;
    height: 12px;
}
