.ProductAds {
    width: 100%;
    height: 100%;
    margin: auto;
}

.ProductAds-Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProductAds-NewAdd-Button {
    text-decoration: none;
    color: white;
    padding: 0.8em 1.6rem;
    background-color: black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProductAds-Add-Icon {
    margin-right: 0.5rem;
}

/* .ProductAds-image-container{

} */

.ProductAds-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
